body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./img/smoke-1001667_1280.png);
    background-repeat: no-repeat;
    color: white;
}
container{
    margin-top: 4rem;
    padding :0;
    font-size:25px;
    background: linear-gradient(rgba(206, 184, 184, 0.733), rgba(161, 157, 157, 0.733)), url('./img/smoke-1001667_1280.png');
    background-position:center;
    background-size:cover;
    min-height:100vh;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    
}
h2{
    color: green;
    font-weight:bold;
    font-size: 40px;
    letter-spacing: 4px;
}
img{
    width: 65%;
}
h3{
    color :orange;
    font-size: 23px;
    font-weight: 600;
}
.jack{
    width:30%;
    float:left;
    font-weight :bold;
    text-align: center ;
}
p{
    color:white;
    font-size: 25px;
}
button{
    color:white;
    background :green;
    padding :13px;
    margin :5px;
    border :none;
    weight :40%;
    border-radius:5px;
    font-size: 20px;
}
button:hover{
    color:white;
    background :orangered;
    padding :10px;
    margin :5px;
    border :none;
    width: 40%;
    border-radius:5px;
    cursor: pointer;
}